{% extends 'base.html' %}
{% block title %}
    <title>Students</title>
{% endblock title %}
{% block content %}
    <div class="container">
    <div class="row">
        {%  if message %}
            <ul class="messages">
            {%  for message in messages %}
                <li {%  if message.tags %} class="{{ message.tags }} {% endif %}">{{ message }} </li>
            {%  endfor %} %}
            </ul>
        {%  endif %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Student number</th>
            <th>Gender</th>
        </tr>
        </thead>
        <tbody>
        {%  for student in students %}
            <tr>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.education}}</td>
                <td>{{ student.image}}</td>
                <td><a class="btn btn-success btn-sm" href="{% url 'student-update' student.id %}">Edit</a></td>
                <td><a class="btn btn-danger btn-sm" onclick="return confirm('Do you really want to delete this student?')" href="{% url 'student-delete' student.id %}">Delete</a></td>

            </tr>
            {%  empty %}
            <tr>
            <td>Empty</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<br><br>
<center>
    <a href='{% url 'student-create' %}' class="btn btn-primary">Add new Student</a>
</center>
{% endblock content %}
