.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
}


.student-image {
    display: block;
    margin: 10px auto; /* чтобы изображение было по центру */
    border-radius: 70%; /* для круглой формы */
    width: 150px; /* фиксированная ширина */
    height: 150px; /* фиксированная высота */
    object-fit: cover; /* чтобы сохранить пропорции и обрезать излишки */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    background-color: #eaeaea;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #4CAF50;
    color: white;
}
table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}
table th, table td {
    padding: 12px 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.mt-3 {
    margin-top: 20px;
}

